@charset "utf-8";

.wp-admin .adwire-settings-form + p {
	/* styles copied from h2 */
	color: #1d2327;
	font-size: 1.3em;
	font-weight: 600;
	margin: 1em 0;
}

.wp-admin .adwire-settings-form:not(.with-navigation),
.wp-admin .adwire-settings-form.with-navigation + p {
	display: none;
}

.wp-admin .adwire-settings-form.with-navigation .form-table th[scope='row'] {
	min-width: 200px;
	width: auto;
}

.wp-admin .adwire-settings-form .form-table input[type='color'] {
	width: 1rem;
	height: 1rem;
	padding: 0;
	margin-right: 0.25rem;
	cursor: pointer;
}

.wp-admin .adwire-settings-form .form-table input[type='color'] + label {
	vertical-align: top;
}

.wp-admin .adwire-settings-form .form-table abbr[title] {
	cursor: help;
}
